NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_2cbkncb
NEXT_PUBLIC_EMAILJS_ORDER_SERVICE_ID=service_2cbkncb
NEXT_PUBLIC_EMAILJS_CONTACT_SERVICE_ID=service_2cbkncb
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
NEXT_PUBLIC_EMAILJS_ORDER_TEMPLATE_ID=template_gseeshk
NEXT_PUBLIC_EMAILJS_CONTACT_TEMPLATE_ID=template_t42izq4
NEXT_PUBLIC_BOUTIQUE_OWNER_EMAIL=mohdfaisal309007@gmail.com
